
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #050607;
            padding: 0%;
        }

      
       .nav-menu {
  background-color: #b27a27;
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 8px 0;
}

       .nav-menu a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 8px 14px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  gap: 6px;
}

        .nav-menu a:hover {
            text-decoration: underline;
        }

        .upload-container {
            margin: 40px auto;
            padding: 30px;
            max-width: 400px;
            background-color: #cdcad4;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        .upload-container h2 {
            margin-bottom: 15px;
            font-size: 20px;
            color: #1e293b;
        }

        .upload-container input[type="file"] {
            width: 100%;
            padding: 8px;
        }

        .note {
            margin-top: 10px;
            font-size: 14px;
            color: #0a0101;
        }

        .error {
            margin-top: 10px;
            color: red;
            font-size: 14px;
        }
    </style>